# Sistema
.DS_Store
Thumbs.db

# Entornos
node_modules/
dist/
build/
deploy/.env

# Archivos temporales
*.tmp
*.log
__pycache__/
*.py[cod]

# Vídeos originales pesados
assets/videos/*uhd*.mp4
assets/videos/*UHD*.mp4
assets/videos/*original*.mp4
